@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #0f0, #000);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

section span:hover {
  background: #0f0;
  transition: 0s;
}

.signin {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.9);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.content h2 {
  color: #0f0;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  padding: 25px 10px 7px;
  background: #333;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
}

.inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ i,
.inputBox input:valid ~ i {
  transform: translateY(-7px);
  font-size: 0.8em;
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:last-child {
  color: #0f0;
}

input[type="submit"] {
  background: #0f0;
  color: #000;
  font-size: 1.2em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}
